sources/*
!sources/sources.tar.gz
output

slurm-logs
*.log

singularity-images/submit-scripts
singularity-images/crosscompiler-definitions
singularity-images/crosscompiler-images

*.sif

results/*
!results/report*
!results/*.csv
!results/text_bin.tar.gz