sources
output

slurm-scripts/logs
slurm-scripts/cross-compiler-images
slurm-scripts/submitscripts
slurm-scripts/singularity-definitions
base-images/*

compiled-toolchain

/example_program

*.def
results